{% extends "blog/base.html" %}



{% block content %}
        <h1>Biography</h1>
        <hr>
        <h2>My favorite things</h2>
        <p>
          <a href="http://www.imdb.com/title/tt0106179/"  target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/en/e/e1/Thexfiles.jpg" alt="the X files IMDb"  style="width:50px;height:50px;">
            </a>

            <a href="https://www.youtube.com/watch?v=ZGjmWYzVxkk"  target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Maria_Callas_(La_Traviata)_2.JPG" alt="Maria Callas"  style="width:50px;height:50px;">
          </a>


           <a href="https://www.youtube.com/watch?v=Ah392lnFHxM" target="_blank">
          <img src="http://ecx.images-amazon.com/images/I/51KD7mzxtdL.jpg" alt="Glenn Gould"  style="width:50px;height:50px;">
          </a>

           <a href="http://www.ebooksgratuits.com/pdf/st_exupery_le_petit_prince.pdf" target="_blank">
          <img src="http://blogs.scientificamerican.com/literally-psyched/files/2012/03/Le-Petit-Prince.jpg" alt="le petit prince"  style="width:50px;height:50px;">
          </a>

           <a href="https://www.codecademy.com/learn/python">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/220px-Python-logo-notext.svg.png" alt="python"  style="width:50px;height:50px;">
            </a>

            <a href="https://www.youtube.com/watch?v=vRy5Ayt8xPk">
          <img src="https://lh5.ggpht.com/Y9cG2XlxsaTUP1wGMHiOGjpDSGmcczHS3EABEN8s_ORvUk4n57Z_XQwuC0GAYX-O91A=w300" alt="NBA"  style="width:50px;height:50px;">
            </a>



        <hr/>
            <a href="/post"> <em><strong>My Posts</strong></em></a>
        <hr/>
            <a href="/guest"> <em><strong>Guest Book</strong></em></a>
        <hr/>


        <br>
        My name is Jihye Son. I like the X files, piano, guitar, books and swing. I can speak Korean and English. I like learning different languages. Now I'm learning French, Italian and Spanish.</p>
{% endblock %}

