{% extends "blog/base.html" %}
{% load bootstrap3 %}




{% block content %}
        <h1>{{post.title}}</h1>
        <hr/>{{post.category}}<hr/>
                <p>
                <div class="panel-body">
                {% if post.photo %}
                    <img src="{{post.photo.url}}" />
                {% endif %}
                <br/>
                <br/>

                {{post.content|linebreaks}}

                </div>

                </p><hr/>

                Created at {{post.created_at}}
                <br/> Updated at {{post.updated_at}}
                <hr/>
                <br/> Phone {{post.phone}}
                <hr/>

        <a href="{% url "blog.views.post_edit" post.pk %}" class="btn btn-primary">Post Edit</a>

    <hr/>
    <ul>
        {% for comment in post.comment_set.all %}
            <li>{{comment.message}}
            <a href="{% url "blog.views.comment_edit" post.pk comment.pk %}" class="btn btn-primary">Comment Edit</a>
            </li>
        {% empty %}
            <li>등록된 댓글이 없습니다.</li>
        {% endfor %}
    </ul>
        <hr/>
        <a href ="{% url "blog.views.comment_new" post.pk %}" class="btn btn-primary">
        Leave a Comment </a>

<hr/>
<ul>
        {% for tags in post.tags.all %}
            <li>태그 : {{tags.name}}

            </li>
        {% empty %}
            <li>등록된 태그가 없습니다.</li>
        {% endfor %}
    </ul>


<hr/><a href="/post"> BACK TO POST LIST </a>



{% endblock %}